.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 29%;
    color: #000;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #e3dbdb75;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f7d354;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem .5rem;
    text-align: center;
    transition: .4s;
    font-weight: bold;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}

@media screen and (max-width: 720px) {

    .container .title {
        font-size: 1.3rem;

    }

    .movies-container div {
        width: 42%;
    }

    .movie-card h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 470px) {

    .container .title {
        font-size: 1.2rem;

    }

    .movies-container div {
        width: 70%;
    }

    .movie-card h2 {
        font-size: 1rem;
    }
}